<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia tenetur fugiat voluptatum consectetur impedit rem illum, quos eveniet fuga provident earum cum soluta in suscipit expedita quasi maiores, perferendis quia neque ratione adipisci? Impedit, alias.</p>

    </div>

</section>