<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ipsum obcaecati ullam eos fugiat cum sapiente itaque vitae magnam delectus?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, ratione maxime aliquam repudiandae reiciendis illum sit ex asperiores commodi sapiente expedita iste alias exercitationem cumque necessitatibus! Reprehenderit atque eius aliquam?</p>
    <a href="https://juanestebanaristizabals.com" class="btn btn-primary">Juan Web</a>
</div>
